@model GestaoDDD.Infra.Identity.Model.LoginViewModel
@using GestaoDDD.Infra.Identity.Model

<link href="~/Content/Conta/login.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Utilize uma conta local para login</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group" style="text-align: right;" >
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-4 " })
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" style="text-align: right;">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-4" })
                    <div class="col-md-3">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Login" class="btn btn-default" />
                    </div>
                </div>
        
                    <div class="links col-md-12">
                        <p>
                            @Html.ActionLink("Registrar uma nova conta?", "Register")
                        </p>
                        <p>
                            @Html.ActionLink("Esqueceu sua senha?", "ForgotPassword")
                        </p>
                    </div>
               
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}