@model GestaoDDD.Infra.Identity.Model.RegisterViewModel

<link href="~/Content/Conta/register.css" rel="stylesheet" />

@{
    ViewBag.Title = "Registrar nova conta";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Preencha os dados</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group col-md-12">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-4" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group col-md-12">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-4" })
        <div class="col-md-3">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group col-md-12">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4" })
        <div class="col-md-3">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="botao">
        <div class="col-md-12">
            <input type="submit" class="btn btn-default" value="Registrar" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
