@model IEnumerable<GestaoDDD.Application.ViewModels.OrcamentoViewModel>
    @{
    var usuarioId = ViewBag.UsuarioId as string;
    }

    @if (!Model.Any())
    {
        <div class="alert alert-danger text-center" role="alert">Nenhum Registro encontrado</div>
    }
    else
    {
        <div class="resultados-trabalhos col-md-9">
            <div class="qtd-resultados">
                <div class="texto-resultados">
                    <b>@ViewBag.FraseQtd</b>
                </div>
            </div>
            @*looping dos trabalhos*@
            @foreach (var item in Model)
            {
                <div class="resultados col-md-12">
                    <div class="dados-trabalho col-md-7">
                        @*<div class="titulo-resultado">
                                @Html.DisplayFor(modelItem => item.)
                                Mudança de Anápolis para Brasília
                            </div>*@
                        <div class="descricao-resultado text-justify">
                            @Html.DisplayFor(modelItem => item.orc_descricao)
                        </div>
                        @*<div class="localizacao-resultado">
                                @Html.DisplayFor(modelItem => item.)
                                30km do seu negócio - Anápolis, Goiás.
                            </div>*@
                    </div>
                    <div class="perfil-trabalho col-md-5">
                        <div class="dados">
                            Nome: @Html.DisplayFor(modelItem => item.orc_nome_solicitante)
                            <br />
                            E-mail: @Html.DisplayTextFor(modelItem => item.orc_email_solicitante)
                            <br />
                            Telefone: @Html.DisplayFor(modelItem => item.orc_telefone_solicitante)
                        </div>
                        @*<div class="valor">
                                R$ 5,00
                            </div>*@
                        <div class="botao">
                            
                            
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_xclick">
                                <input type="hidden" name="business" value="wagnogueira19@gmail.com">
                                <input type="hidden" name="lc" value="BR">
                                <input type="hidden" name="item_name" value="Orcamento Agiliza">
                                <input type="hidden" name="amount" value="0.01">
                                <input type="hidden" name="currency_code" value="BRL">
                                <input type="hidden" name="button_subtype" value="services">
                                <input type="hidden" name="no_note" value="0">
                                <input type="hidden" name="bn" value="PP-BuyNowBF:btn_paynowCC_LG.gif:NonHostedGuest">
                                <input type="image" src="https://www.paypalobjects.com/pt_BR/BR/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                            </form>

                            

                            <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
                            @*<form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post" onsubmit="PagSeguroLightbox(this); return false;">
                                <input type="hidden" name="code" value="C28A89C77070DB09945A7F8483ABCA63" />
                                <input type="hidden" name="iot" value="button" />
                                <input type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/120x53-comprar-laranja.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
                            </form>
                            <script  type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>*@
                            <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
                          
                            
    @*<button type="button" class="btn btn-formulario">
                                @Html.ActionLink("VISUALIZAR ORÇAMENTO", "Detalhes", new { id = item.orc_Id, usuarioId = usuarioId })
                            </button>*@
                        </div>
                    </div>
                    <hr />
                </div>
            }
        </div>
    }
