@model IEnumerable<GestaoDDD.Application.ViewModels.OrcamentoViewModel>
    @{
        var usuarioId = ViewBag.UsuarioId as string;
    }
<script src="~/Scripts/jquery-2.2.3.js"></script>
<script src="~/Scripts/jquery-2.2.3.min.js"></script>


    @if (!Model.Any())
    {
        <div class="alert alert-danger text-center" role="alert">Nenhum Registro encontrado</div>
    }
    else
    {
        <script type="text/javascript">
            jQuery(document).ready(function () {
                //Pegamos o formulário do botão
                var wpsBn = jQuery('#wps-bn');

                //Interceptamos o clique no botão
                wpsBn.click(function (e) {
                    //Evitamos o comportamento padrão, de submeter o formulário
                    e.preventDefault();

                    //Mostramos a mensagem de redirecionamento
                    jQuery('<div class="sa_payPal_overlay" style="visibility:visible;position:fixed; width:100%; height:100%; filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr=\'#88ffffff\', EndColorStr=\'#88ffffff\'); background: rgba(255,255,255,0.8); top:0; left:0; z-index: 999999;"><div style=" background: #FFF; background-image: linear-gradient(top, #FFFFFF 45%, #E9ECEF 80%);background-image: -o-linear-gradient(top, #FFFFFF 45%, #E9ECEF 80%);background-image: -moz-linear-gradient(top, #FFFFFF 45%, #E9ECEF 80%);background-image: -webkit-linear-gradient(top, #FFFFFF 45%, #E9ECEF 80%);background-image: -ms-linear-gradient(top, #FFFFFF 45%, #E9ECEF 80%);background-image: -webkit-gradient(linear, left top,left bottom,color-stop(0.45, #FFFFFF),color-stop(0.8, #E9ECEF));display: block;margin: auto;position: fixed; margin-left:-220px; left:45%;top: 40%;text-align: center;color: #2F6395;font-family: Arial;padding: 15px;font-size: 15px;font-weight: bold;width: 530px;-webkit-box-shadow: 3px 2px 13px rgba(50, 50, 49, 0.25);box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 5px;border: 1px solid #CFCFCF;border-radius: 6px;"><img style="display:block;margin:0 auto 10px" src="https://www.paypalobjects.com/en_US/i/icon/icon_animated_prog_dkgy_42wx42h.gif"><h2>Aguarde alguns segundos.</h2> <p style="font-size:13px; color: #003171; font-weight:400">Você está sendo redirecionado para um ambiente seguro do PayPal<br /> para finalizar seu pagamento.</p><div style="margin:30px auto 0;"><img src="https://www.paypal-brasil.com.br/logocenter/util/img/logo_paypal.png"/></div></div></div>').appendTo('body');

                    //Submetemos o formulário após a exibição da mensagem
                    wpsBn.submit();
                });
            });
        </script>






        <div class="resultados-trabalhos col-md-9">
            <div class="qtd-resultados">
                <div class="texto-resultados">
                    <b>@ViewBag.FraseQtd</b>
                </div>
            </div>
            @*looping dos trabalhos*@
            @foreach (var item in Model)
            {
                <div class="resultados col-md-12">
                    <div class="dados-trabalho col-md-7">
                        @*<div class="titulo-resultado">
                                @Html.DisplayFor(modelItem => item.)
                                Mudança de Anápolis para Brasília
                            </div>*@
                        <div class="descricao-resultado text-justify">
                            @Html.DisplayFor(modelItem => item.orc_descricao)
                        </div>
                        <div class="localizacao-resultado">

                            @Html.DisplayFor(modelItem => item.Distancia)
                        </div>
                    </div>
                    <div class="perfil-trabalho col-md-5">
                        <div class="dados">
                            Nome: @Html.DisplayFor(modelItem => item.orc_nome_solicitante)
                            <br />
                            @*E-mail: @Html.DisplayTextFor(modelItem => item.orc_email_solicitante).ToString().Substring(0, 5)*@
                            E-mail: **********
                            <br />
                            Telefone: @Html.DisplayFor(modelItem => item.orc_telefone_solicitante).ToString().Substring(0, 9) - ****
                        </div>
                        @*<div class="valor">
                                R$ 5,00
                            </div>*@
                        <div class="botao">
                            <form id="wps-bn" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                                <!--Tipo do botão-->
                                <input type="hidden" name="cmd" value="_xclick" />

                                <!--Vendedor e URL de retorno, cancelamento e notificação-->
                                <input type="hidden" name="business" value="elisregina.mendes360@gmail.com" />
                                <input type="hidden" name="return" value="http://www.agilizaorcamentos.com.br/Orcamento/Pagamento" />
                                <input type="hidden" name="cancel" value="http://www.agilizaorcamentos.com.br/Orcamento/Pagamento" />
                                <input type="hidden" name="notify_url" value="http://www.agilizaorcamentos.com.br/Orcamento/Pagamento" />
                                
                                @*<input type="hidden" name="return" value="http://localhost:55793/Orcamento/Pagamento" />
                                <input type="hidden" name="cancel" value="http://localhost:55793/Orcamento/Pagamento" />
                                <input type="hidden" name="notify_url" value="http://localhost:55793/Orcamento/Pagamento" />*@
                                <!--Internacionalização e localização da página de pagamento-->
                                <input type="hidden" name="charset" value="utf-8" />
                                <input type="hidden" name="lc" value="BR" />
                                <input type="hidden" name="country_code" value="BR" />
                                <input type="hidden" name="currency_code" value="BRL" />

                                <!--Informações sobre o produto e seu valor-->
                                <input type="hidden" name="amount" value="0.01" />
                                <input type="hidden" name="item_name" value="Orcamento-@Html.DisplayTextFor(modelItem => item.orc_Id)" />
                                <input type="hidden" name="quantity" value="1" />

                                <!--Botão para submissão do formulário-->
                                <input type="image" src="https://www.paypalobjects.com/pt_BR/BR/i/btn/btn_buynowCC_LG.gif" />
                            </form>




                            @*<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                    <input type="hidden" name="cmd" value="_xclick">

                                    <input type="hidden" name="business" value="wagnogueira19@hotmail.com">
                                    <input type="hidden" name="return" value="http://http://localhost:55793/Orcamento/Pagamento" />
                                    <input type="hidden" name="cancel" value="http://http://localhost:55793/Orcamento/Pagamento" />

                                    <input type="hidden" name="charset" value="utf-8" />
                                    <input type="hidden" name="lc" value="BR">
                                    <input type="hidden" name="currency_code" value="BRL">
                                    <input type="hidden" name="country_code" value="BR" />

                                    <input type="hidden" name="item_name" value="Orcamento Agiliza">
                                    <input type="hidden" name="amount" value="0.01">
                                    <input type="hidden" name="quantity" value="1" />

                                    <input type="hidden" name="button_subtype" value="services">
                                    <input type="hidden" name="no_note" value="0">

                                    <input type="hidden" name="bn" value="PP-BuyNowBF:btn_paynowCC_LG.gif:NonHostedGuest">
                                    <input type="image" src="https://www.paypalobjects.com/pt_BR/BR/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - A maneira fácil e segura de enviar pagamentos online!">
                                    <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                                </form>*@
                        </div>
                    </div>
                    <hr />
                </div>
            }
        </div>
    }
