@model GestaoDDD.Application.ViewModels.OrcamentoViewModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link href="~/Content/Orcamento/orcamento.css" rel="stylesheet" />

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD1XAgGp958RP_0j3cOgUo5DJdfART5j3k&amp;sensor=true"></script>
<script src="~/Scripts/Adicionais/mapa.js"></script>
<script src="~/Scripts/jquery-ui.custom.min.js"></script>
<script src="~/Scripts/jquery-2.1.4.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#ListaCat').change(function () {
            var value = $("#ListaCat option:selected").val();
            $.ajax({
                type: 'POST',
                url: '/Servico/RServicosPCategoria',
                data: 'id=' + value,
                dataType: "json",
                cache: false,
                async: true,
                success: function (data) {
                    var options_servico = "";
                    $.each(data, function (key, value) {
                        options_servico += '<option value="' + value.serv_Id + '">' + value.serv_Nome + '</option>';
                    });
                    $("#servico_id").html(options_servico);
                }
            });
        });
    });
</script>
<div class="container">

    <div class="row banner col-md-12">
        <div class="row banner-texto-esquerda col-md-6 pull-left">
            <h1>ORÇAMENTOS</h1>
        </div>
        <div class="row banner-texto-direita col-md-6 pull-right">
            <h3>
                Muito mais agilidade</p>
                na hora de buscar orçamentos</p>
                de forma online e gratuita
            </h3>
        </div>
    </div>
    <div class="row banner-baixo col-md-12 center-block">
        <div class="row texto-bannerbaixo col-md-12">
            Você é um profissional e <b>busca novos clientes?</b>
            <button type="button" class="btn">Cadastre-se</button>
        </div>
    </div>
    <div class="row texto-body col-md-12">
        <h3><b>Solicite orçamentos grátis</b></h3>
        Aqui você encontra os melhores profissionais e empresas da sua região e recebe até 4 orçamentos de forma gratuita para comparar e escolher a melhor opção.
    </div>

    <div class="row corpo col-md-12">

        <div class="row informacoes col-md-5">

            <div class="row informacoes-linha">
                <div class="row icones col-md-4 col-xs-4">
                    <img src="~/Images/Orcamento/lupa.png" />
                </div>
                <div class="row texto-icones col-md-8 col-xs-8">
                    <hr id="linha" />
                    Busque o tipo de serviço que você está procurando.
                </div>
            </div>

            <div class="row informacoes-linha">
                <div class="row icones col-md-4 col-xs-4">
                    <img src="~/Images/Orcamento/orcamentos.png" />
                </div>
                <div class="row texto-icones col-md-8 col-xs-8">
                    <hr id="linha" />
                    Receba até 4 orçamentos grátis e sem compromisso.
                </div>
            </div>

            <div class="row informacoes-linha">
                <div class="row icones col-md-4 col-xs-4">
                    <img src="~/Images/Orcamento/profissional.png" />
                </div>
                <div class="row texto-icones col-md-8 col-xs-8">
                    <hr id="linha" />
                    Compare e escolha a melhor opção.
                </div>
            </div>

            <div class="row">
                <hr id="linha2" />
            </div>

            <div class="row vantagens-linha">
                <div class="row icones col-md-4 col-xs-4">
                    <img src="~/Images/Orcamento/check.png" />
                </div>
                <div class="row texto-vantagens col-md-8 col-xs-8">
                    Encontre os melhores profissionais.
                </div>
            </div>

            <div class="row vantagens-linha">
                <div class="row icones col-md-4 col-xs-4">
                    <img src="~/Images/Orcamento/check.png" />
                </div>
                <div class="row texto-vantagens col-md-8 col-xs-8">
                    Orçamentos grátis e sem compromisso.
                </div>
            </div>

            <div class="row vantagens-linha">
                <div class="row icones col-md-4 col-xs-4">
                    <img src="~/Images/Orcamento/check.png" />
                </div>
                <div class="row texto-vantagens col-md-8 col-xs-8">
                    Economize tempo e dinheiro.
                </div>
            </div>

        </div>

        <div class="row formulario col-md-7">

            </br>
            <h4><b>SEU PEDIDO</b></h4>
            </br>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label for="descricao">Escreva detalhadamente o serviço que você precisa:</label>
                    <textarea class="form-control" rows="8" id="orc_descricao" name="orc_descricao"></textarea>
                    @Html.ValidationMessageFor(model => model.orc_descricao, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="sel1">Quando você quer começar o trabalho:</label>
                    <select class="form-control" id="sel1" name="orc_prazo">
                        <option> </option>
                        <option>Agora</option>
                        <option value="13123">Daqui uma semana</option>
                        <option>Daqui um mês</option>
                        <option>Ainda não sabe</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.orc_prazo, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="sel2">Selecione a categoria de serviço:</label>
                    
                    @Html.DropDownList("ListaCat", null, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label for="sel3">Especifique o serviço:</label>
                    <select class="form-control" id="servico_id" name="servico_id" style="text-transform: capitalize"></select>
                </div>


                <div class="form-group">
                    <label>Endereço a realizar o serviço:</label>
                    <input type="text" id="orc_Endereco" name="orc_Endereco" class="form-control" style="width:450px;" />
                    @Html.ValidationMessageFor(model => model.orc_Endereco, "", new { @class = "text-danger" })
                </div>
                <div>
                    <input type="button" class="btn btn-marcamapa" id="btnEndereco" name="btnEndereco" value="Marcar no mapa" />
                </div>
                <div id="mapa" class="map-mapa"></div>
                <input type="hidden" id="orc_latitude" name="orc_latitude" />
                <input type="hidden" id="orc_longitude" name="orc_longitude" />


                @*</br>*@
                <h4><b>SEUS DADOS</b></h4>
                @*</br>*@

                <div class="form-group">
                    <label for="nome">Seu Nome:</label>
                    <input type="text" class="form-control" id="nome" name="orc_nome_solicitante">
                    @Html.ValidationMessageFor(model => model.orc_nome_solicitante, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="email">E-mail:</label>
                    <input type="text" class="form-control" id="orc_email_solicitante" name="orc_email_solicitante">
                    @Html.ValidationMessageFor(model => model.orc_email_solicitante, "", new { @class = "text-danger" })
                </div>


                <div class="row form-group col-md-6 col-sm-6">
                    <label for="telefone">Telefone:</label>
                    <input type="text" class="form-control" id="orc_telefone_solicitante" name="orc_telefone_solicitante">
                    @Html.ValidationMessageFor(model => model.orc_email_solicitante, "", new { @class = "text-danger" })
                </div>

                <div class="row form-group col-md-6 col-sm-6 form">
                    <label >Endereço:</label>
                    <input type="text" class="form-control" id="orc_endereco_solicitante" name="orc_endereco_solicitante">
                    @Html.ValidationMessageFor(model => model.orc_endereco_solicitante, "", new { @class = "text-danger" })
                </div>

                <div class="checkbox col-md-6">
                    <label><input type="checkbox" value="">Li e aceito as condições.</label>
                </div>

                <div class="row col-md-6">
                    <input type="submit" class="btn btn-enviar" />
                </div>
            }
        </div>

    </div>




</div>
