@model GestaoDDD.Application.ViewModels.OrcamentoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrcamentoViewModel</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.orc_endereco_servico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orc_endereco_servico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orc_descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orc_descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orc_dias_prazo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orc_dias_prazo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.orc_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
