@model IEnumerable<GestaoDDD.Application.ViewModels.OrcamentoViewModel>

    @{
        var msg = ViewBag.Retorno as string;
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    <script src="~/Scripts/Adicionais/ListaPrestadorAdmin.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <link href="~/Content/themes/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="~/Content/themes/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/themes/jquery-ui.theme.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.12.0.min.js"></script>
    <script>
        $(function () {
            $(".atribuirOrcamento").click(function () {
                var orc = $(this).attr("data-matricula");
                $("#modal").load("/Prestador/ListaPrestador/" + orc).attr("title", "Lista Prestadores").dialog({ width: 900, height: 600 });
            });
        });
    </script>
    <div class="modal" id="modal">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Lista de orçamentos abertos</h4>
                <div class="table-responsive">
                    <div class="container" style="position:relative; left: 40%; color: #dc143c">
                        <strong>@msg</strong>
                    </div>
                    <table id="mytable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Descrição</th>
                                <th>Endereço</th>
                                <th>Prazo</th>
                                <th>Solicitante</th>
                                <th>Celular</th>
                                <th>Serviço</th>
                                <th>Editar</th>
                                <th>Excluir</th>
                                <th>Atribuir</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.orc_descricao)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.orc_Endereco)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.orc_prazo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.orc_nome_solicitante)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.orc_telefone_solicitante)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.NomeServico)
                                    </td>


                                    <td>
                                        <p data-placement="top" data-toggle="tooltip" title="Editar">
                                            <a href="~/Orcamento/Editar/@item.orc_Id" class="btn btn-primary btn-xs" title="Editar">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                        </p>
                                    </td>

                                    <td>
                                        <p data-placement="top" data-toggle="tooltip" title="Delete">
                                            <a class="btn btn-danger btn-xs" href="~/Orcamento/Deletar/@item.orc_Id" data-toggle="modal" data-target="#delete" data-placement="top" rel="tooltip" data-title="Excluir">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </a>
                                        </p>
                                    </td>
                                    <td>
                                        @*<p data-placement="top" data-toggle="tooltip" title="Atribuir">*@
                                        <a class="atribuirOrcamento btn btn-danger btn-xs" data-matricula="@item.orc_Id">clique</a>
                                        @*<a class="" href="~/Orcamento/Deletar/@item.orc_Id" data-toggle="modal" data-target="#delete" data-placement="top" rel="tooltip" data-title="Atribuir"></a>*@
                                        @*</p>*@
                                    </td>
                                </tr>
                                //MODAL DELETE
                                <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-hidden="false">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                        </div>
                                    </div>
                                </div>
                                //FIM MODAL DELETE
                            }

                        </tbody>

                    </table>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
