<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agiliza – Orçamentos para Reformas e Serviços Domésticos</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="title" content=" Agiliza – Orçamentos para Reformas e Serviços Domésticos" />
    <meta name="description" content="Com o Agiliza você encontra informações detalhadas, orçamentos e opiniões de profissionais para serviços domésticos, obras e reformas." />
    <meta name="keywords" content="reformas, obras e reformas, construtores, orçamentos de reformas, orçamentos, obras, arquitetura, decoração de interiores, design de interiores, decoração, banheiros, cozinhas, arquitetos, decoradores de interior." />
    <meta name="robots" content="index,follow" />
    <meta name="x-app-title" content=" Agiliza – Orçamentos para Reformas e Serviços Domésticos " />
    <meta name="googlebot" content="index,follow" />
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:site_name" content="agilizaorcamentos.com.br" />
    <meta property="og:title" content=" Agiliza – Orçamentos para Reformas e Serviços Domésticos" />

    <link rel="icon" href="~/Content/Imagens/icone.png" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/_Layout/layout.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-default" id="navibar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color: white" href="#">Agiliza Orçamentos</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">

                @Html.Partial("_LoginPartial")
                @{
                    if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Prestadores", "Index", "Prestador")</li>
                        }

                        var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
                        var claim = claimsIdentity.FindFirst(c => c.Type == "AdmUsers");

                        if (claim != null)
                        {
                            if (claim.Value == "True")
                            {
                                <li>@Html.ActionLink("Admin Users", "Index", "UsersAdmin")</li>
                            }
                        }

                        claim = claimsIdentity.FindFirst(c => c.Type == "AdmClaims");
                        if (claim != null)
                        {
                            if (claim.Value == "True")
                            {
                                <li>@Html.ActionLink("Admin Claims", "Index", "ClaimsAdmin")</li>
                            }
                        }
                    }

                }
            </div>
        </div>
    </nav>


    @RenderBody()

</body>
<footer class="footer" style="bottom: 0px">
    <div class="center">
        <p><small><b>agiliza orçamentos</b> | <a href="mailto:contato@agilizapracamentos.com.br">contato@agilizaorcamentos.com.br</a></small></p>
    </div>
</footer>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Content/css")
@Scripts.Render("~/Scripts/jquery-2.1.4.js")
@Scripts.Render("~/Scripts/jquery-2.1.4.min.js")
@Scripts.Render("~/bundles/jqueryval")



@RenderSection("scripts", required: false)

</html>



