<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FAI-UFSCar</title>
    <link rel="icon" href="~/Content/Imagens/icone.png" />
    @Styles.Render("~/Content/css")
   @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderPage("_Menu.cshtml")
    <div class="container">
        @RenderBody()
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted textoRodape">© 2015 FAI • UFSCar - Departamento de Tecnologia de Informação</p>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>