<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FAI-UFSCar</title>
    <link rel="icon" href="~/Content/Imagens/icone.png" />
    <link href="~/Content/Prestador/pagina_captura.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
   @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*@RenderPage("_Menu.cshtml")*@
    <div class="container">
        @RenderBody()
        @*@Html.Partial("_LoginPartial")*@
    </div>

    <footer class="footer" style="position:fixed; bottom:2px;">
        <div class="container">
            <p class="text-muted textoRodape">© 2015 - AGILIZA ORÇAMENTOS</p>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>