@model IEnumerable<GestaoDDD.Application.ViewModels.ContatoViewModel>

@{
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ctt_nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ctt_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ctt_telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ctt_msg)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ctt_nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ctt_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ctt_telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ctt_msg)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.contato_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.contato_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.contato_Id })
        </td>
    </tr>
}

</table>
