@model GestaoDDD.Application.ViewModels.PrestadorViewModel

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/Prestador/prestador.css" rel="stylesheet" />
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD1XAgGp958RP_0j3cOgUo5DJdfART5j3k&amp;sensor=true"></script>
<script src="~/Scripts/Adicionais/mapaPrestador.js"></script>
<script src="~/Scripts/Adicionais/progress_bar_prestador.js"></script>
<script src="~/Scripts/jquery-ui.custom.min.js"></script>
<script src="~/Scripts/jquery-2.2.3.js"></script>
<script src="~/Scripts/jquery.maskedinput.min.js"></script>
<div class="container">
    <div class="row texto-formulario col-md-12">
        <h2><b>Detalhes cadastro de prestador</b></h2>
    </div>
    <div class="row formulario col-md-12">

        <div class="titulo-formulario">
            <h4><b>DADOS DO PROFISSIONAL OU EMPRESA</b></h4>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.pres_nome, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.pres_nome, new { @class = "form-control", @readonly = "readonly" })
        </div>

        <div class="col-form form-group col-md-5">
            @Html.LabelFor(model => model.pres_email, new { @class = "control-label" })
            @Html.EditorFor(model => model.pres_email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
        <div class="col-form-2 form-group col-md-4">
            @Html.LabelFor(model => model.pres_cpf_cnpj, new { @class = "control-label" })
            @Html.EditorFor(model => model.pres_cpf_cnpj, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
        <div class="col-form form-group col-md-4">
            @Html.LabelFor(model => model.pres_telefone_residencial, new { @class = "control-label" })
            @Html.EditorFor(model => model.pres_telefone_residencial, new { htmlAttributes = new { @class = "form-control", @placeholder = "(16)9999-9999", @readonly = "readonly" } })
        </div>

        <div class="col-form form-group col-md-4">
            @Html.LabelFor(model => model.pres_telefone_celular, new { @class = "control-label" })
            @Html.EditorFor(model => model.pres_telefone_celular, new { htmlAttributes = new { @class = "form-control", @placeholder = "(16)99999-9999", @readonly = "readonly" } })
        </div>

        <div class="col-form form-group col-md-9">
            @Html.LabelFor(model => model.pres_Endereco, new { @class = "control-label" })
            @Html.EditorFor(model => model.pres_Endereco, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>

        <div class="col-form form-group col-md-3">
            <label for="raioatuacao">Raio de Atuação em KM:</label>
            @Html.EditorFor(model => model.pres_raio_recebimento, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>

        @*<div class="mapa col-md-12">
                <div id="mapa" class="map-mapa"></div>
                <input type="hidden" id="orc_latitude" name="pres_Latitude" />
                <input type="hidden" id="orc_longitude" name="pres_Longitude" />
            </div>*@
    </div>
    <div class="row">
       <div class="col-md-offset-1 col-md-5">
           <input type="button" value="Voltar" class="btn btn-enviar btn-lg btn-block" onclick="location.href='@Url.Action("Index", "Prestador")'" /> />
            </div>
            <div class="col-md-5">
                <a href="~/Prestador/EditarPerfil/@Model.pres_Id" class="btn btn-enviar btn-lg btn-block" title="Editar">Editar</a>
            </div>
        </div>
</div>