@model IEnumerable<GestaoDDD.Application.ViewModels.PrestadorViewModel>


    @*<h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.pres_nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pres_cpf_cnpj)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pres_endereco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pres_raio_recebimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pres_email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pres_telefone_residencial)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pres_telefone_celular)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.pres_nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pres_cpf_cnpj)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pres_endereco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pres_raio_recebimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pres_email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pres_telefone_residencial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pres_telefone_celular)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.pres_Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.pres_Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.pres_Id })
                    </td>
                </tr>
            }

        </table>*@
    @{
        Layout = null;
    }

<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <!-- META RESPONSIVA -->
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <!-- CSS -->
        <link href="~/Content/Prestador/pagina_captura.css" rel="stylesheet" />
        <title>Case Wagner</title>
    </head>
    <body>
        
        <!-- BCL ONE -->
        <section class="bcl-one">
            <div class="center">
                <p>em breve você terá <br> muito mais agilidade na hora de <br> <b>buscar orçamentos de forma gratuita e sem compromisso.</b></p>
            </div>
        </section>
        <!-- FIM BCL ONE -->
        <!-- BCL TWO -->
        <section class="bcl-two">
            <div class="center">
                <section class="col-50">
                    <div class="infos-form">
                        <h1>você é um profissional e busca novos clientes?</h1>
                        <p>faça seu cadastro gratuitamente</p>

                        <form action="" method="post" class="frm-contato">
                            <input type="text" placeholder="Nome" required="required">
                            <input type="text" placeholder="Empresa" required="required">
                            <input type="email" placeholder="E-mail" required="required">
                            <input type="text" placeholder="Celular" required="required">
                            <input type="submit" value=">> AVANÇAR">
                        </form>
                    </div>
                </section>
                <section class="col-50">
                    <img src="~/Images/Prestador/man.png" alt="" />
                </section>
            </div>
        </section>
        <!-- FIM BCL TWO -->
        <footer class="footer">
            <div class="center">
                <p><small><b>agiliza orçamentos</b> | <a href="mailto:contato@agilizapracamentos.com.br">contato@agilizapracamentos.com.br</a></small></p>
            </div>
        </footer>
    </body>
</html>
