@model GestaoDDD.Application.ViewModels.PrestadorUsuarioViewModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@Html.Partial("_PerfilPartial")

<div class="container">
    <div class="row texto-antesform col-md-12">
        <div class="texto-superior">
            <h2>Meu Perfil</h2>

        </div>
        <div class="texto-inferior">
            Olá! Aqui estão suas informações pessoais e do seu negócio, é importante manter seus dados sempre atualizados.
        </div>
    </div>
    <form role="form">
        <div class="row formulario col-md-12">
            <div class="titulo-formulario">
                <h4><b>CONTATO</b></h4>
            </div>
            <div class="col-form form-group col-md-6">
                <label for="nome">Seu nome:</label>
                <input type="text" class="form-control" readonly id="pres_nome" name="pres_nome" value="@Html.DisplayFor(model => model.pres_nome)" />
            </div>
            <div class="col-form form-group col-md-6">
                <label for="empresa">Nome da sua empresa:</label>
                <input type="text" class="form-control" readonly id="empresa" />
            </div>
            <div class="col-form form-group col-md-6">
                <label for="email">Seu e-mail:</label>
                <input type="text" class="form-control" readonly id="pres_email" name="pres_email" value="@Html.DisplayTextFor(model => model.pres_email)" />
            </div>
            <div class="col-form form-group col-md-6">
                <label for="endereco">Endereço:</label>
                <input type="text" id="pres_endereco" name="pres_endereco" class="form-control" readonly value="@Html.DisplayFor(model => model.pres_Endereco)" />
            </div>

            <div class="col-form form-group col-md-3">
                <label for="telefone">Seu telefone:</label>
                <input type="text" class="form-control" id="telefone" readonly value="@Html.DisplayFor(model => model.pres_telefone_residencial)" />
            </div>
            <div class="col-form form-group col-md-3">
                <label for="telefone">Seu celular:</label>
                <input type="text" class="form-control" id="telefone" readonly value="@Html.DisplayFor(model => model.pres_telefone_celular)" />
            </div>
            <div class="col-form form-group col-md-6">
                <label for="raioatuacao">Raio de Atuação:</label>
                <input type="text" class="form-control" id="raio" readonly value="@Html.DisplayFor(model => model.pres_Raio_Recebimento)" />
            </div>
            <div class="col-form form-group col-md-6">
                <label for="apresentacaopessoal">Breve apresentação pessoal:</label>
                <textarea class="form-control" rows="5" readonly="" id="apresentacaopessoal"></textarea>
            </div>
            <div class="col-form form-group col-md-6">
                <label for="apresentacaoempresa">Breve apresentação da empresa:</label>
                <textarea class="form-control" rows="5" readonly="" id="apresentacaoempresa"></textarea>
            </div>

            <div class="sub-formulario ">
                <h4><b>ÁREA DE ATUAÇÃO</b></h4>
            </div>
            <div class="col-form form-group col-md-6">
                <label for="categorias">Categorias:</label>
                <div class="col-form form-group">
                    <label class="checkbox-inline"><input type="checkbox" checked readonly>Option 1</label>
                </div>
            </div>
            <div class="col-form form-group col-md-6">
                <label for="subcaterias">Serviços:</label>
                <div class="col-form form-group">
                    <label class="checkbox-inline"><input type="checkbox" checked readonly>Option 1</label>
                </div>
            </div>
            <div class="col-form col-md-offset-8 col-md-2">
                <button type="button" class="btn btn-formulario">
                    <a href="~/Views/Prestador/EditarPerfil.cshtml">Editar informações </a>
                </button>
            </div>
            <div class="col-form col-md-2">
                <input type="submit" class="btn btn-formulario" />
            </div>

        </div>
    </form>
</div>
