@model GestaoDDD.Application.ViewModels.ComoFuncionaViewModel

@{
    ViewBag.Title = "Create";
}

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";

}


<link href="~/Content/ComoFunciona/comofunciona.css" rel="stylesheet" />

<div class="container">

    <div class="row banner col-md-12">
        <div class="row banner-texto-esquerda col-md-6 pull-left">
            <h1>COMO FUNCIONA</h1>
        </div>
        <div class="row banner-texto-direita col-md-6 pull-right">
            <h3>
                Muito mais agilidade</p>
                na hora de buscar orçamentos</p>
                de forma online e gratuita
            </h3>
        </div>
    </div>
    <div class="row banner-baixo col-md-12 center-block">
        <div class="row texto-bannerbaixo col-md-12">
            Você é um profissional e <b>busca novos clientes?</b>
            <button type="button" class="btn">Cadastre-se</button>
        </div>
    </div>

    <div class="row texto-body col-md-12 center">
        <h3><b>Como funciona?</b></h3>
        <br />
        <b>Utilizar o Agiliza Orçamentos é muito fácil:</b>
        <br /><br />
        <p />
        01 - Você preenche o formulário com os dados do serviço que precisa e suas informações pessoais.
        <p />
        02 - Iremos selecionar os melhores profissionais da sua região e em seguida eles entrarão em contato com você.
        <p />
        03 - Após receber os orçamentos solicitados você compara e escolhe a melhor opção.
        <p />
    </div>

    <div class="row informacoes col-md-12">

        <div class="row informacoes-linha col-md-4">
            <div class="row icones col-md-4 col-xs-4">
                <img src="~/Images/Orcamento/lupa.png" />
            </div>
            <div class="row texto-icones col-md-8 col-xs-8">
                <hr id="linha" />
                Busque o tipo de serviço que você está procurando.
            </div>
        </div>

        <div class="row informacoes-linha col-md-4">
            <div class="row icones col-md-4 col-xs-4">
                <img src="~/Images/Orcamento/orcamentos.png" />
            </div>
            <div class="row texto-icones col-md-8 col-xs-8">
                <hr id="linha" />
                Receba até 4 orçamentos grátis e sem compromisso.
            </div>
        </div>

        <div class="row informacoes-linha col-md-4">
            <div class="row icones col-md-4 col-xs-4">
                <img src="~/Images/Orcamento/profissional.png" />
            </div>
            <div class="row texto-icones col-md-8 col-xs-8">
                <hr id="linha" />
                Compare e escolha a melhor opção.
            </div>
        </div>

        <div class="row botao-solicitar col-md-12">
            <button type="button" class="btn btn-solicitar">Solicitar Orçamentos Grátis</button>
        </div>

    </div>

</div>





@* Fim Front *@

@*<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ComoFuncionaViewModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.cf_Ordem, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cf_Ordem)
                @Html.ValidationMessageFor(model => model.cf_Ordem)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cf_Informacao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cf_Informacao)
                @Html.ValidationMessageFor(model => model.cf_Informacao)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
