@model GestaoDDD.Application.ViewModels.ComoFuncionaViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ComoFuncionaViewModel</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cf_Ordem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cf_Ordem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cf_Informacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cf_Informacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cf_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
