@model IEnumerable<GestaoDDD.Application.ViewModels.ServicoViewModel>

    @using GestaoDDD.Application.ViewModels;

    @{
        Layout = "~/Views/Shared/_Layout.cshtml";

    }


    @{
        var ListaCategoria = ViewBag.CategoriaModel as IEnumerable<CategoriaViewModel>;
        //Wagner Nogueira 02-02-16
        var cpfPrestador = ViewBag.Cpf as string;
    }

    <link href="~/Content/Servico/checkbox_servicos.css" rel="stylesheet" />
    <script src="~/Scripts/Adicionais/lerCheckbox.js"></script>

    <link href="~/Content/Servico/modal_accept.css" rel="stylesheet" />
                      <script src="~/Scripts/Adicionais/modalServicoPrestador.js"></script>


    <div class="container" id="position-text">
        <div class="col-md-12">
            <p>
                <h4>
                    SELECIONE OS TRABALHOS <br />
                    QUE SUA EMPRESA REALIZA:
                </h4>
            </p>
            <hr style="color: #000000; ">
        </div>
    </div>

    @using (Html.BeginForm())
    {
        foreach (var cat in ListaCategoria)
        {

            <div class="row nome-categoria col-md-12 col-sm-12 col-xs-12" id="position-checkbox">
                <br />
                &bull;  @Html.DisplayFor(modelItem => cat.cat_Nome)
                <hr style="color: #000000;" />
            </div>
            foreach (var item in Model)
            {
                if (cat.cat_Id == item.cat_Id)
                {
                    <div class="container row text-left col-md-3 col-sm-4 col-xs-6" id="position-checkbox">
                        <div class="checkbox ">
                            <label style="text-transform: capitalize">
                                <input type="checkbox" value="" id="@item.serv_Id" name="@item.serv_Id">
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                @Html.DisplayFor(modelItem => item.serv_Nome)
                            </label>
                        </div>
                    </div>
                }

            }
        }


        @*02-02-16 Wagner Nogueira*@
        <input type="hidden" value="@cpfPrestador" name="cpfPrestador" />
        <div class="container">
            <div class="row col-md-12 bottom col-sm-12 col-xs-12 frm-contato">
                <p class="text-center">
                <a href="#" class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target="#login-modal">Cadastrar</a></p>

                <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div id="div-forms">
                                <form id="register-form" style="display:none;">
                                    <div class="modal-body">
                                       <h2>Cadastro realizado com sucesso.</h2>
                                        <h3>
                                            Obrigado por optar pelos nossos serviços.
                                        </h3>
                                    </div>
                                    <div class="modal-footer">
                                        <div>
                                            <button type="submit" class="btn btn-primary btn-lg btn-block">Ok</button>
                                        </div>
                                    </div>
                                </form>
                                <!-- End | Register Form -->

                            </div>
                            <!-- End # DIV Form -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }



    <!-- END # MODAL LOGIN -->
