@model IEnumerable<GestaoDDD.Application.ViewModels.ServicoViewModel>
    @using GestaoDDD.Application.ViewModels;

    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @Styles.Render("~/Content/css")

    @{
        var ListaCategoria = ViewBag.CategoriaModel as IEnumerable<CategoriaViewModel>;
    }
    <link href="~/Content/Servico/checkbox_servicos.css" rel="stylesheet" />
    <script src="~/Scripts/Adicionais/lerCheckbox.js"></script>
    <script src="/bundles/modernizr?v="></script>




    <div class="container" id="position-text">
        <div class="col-md-12">
            <p>
                <h4>
                    SELECIONE OS TRABALHOS <br />
                    QUE SUA EMPRESA REALIZA:
                </h4>
            </p>
            <hr style="color: #000000; ">
        </div>
    </div>



    @using (Html.BeginForm())
    {
        foreach (var cat in ListaCategoria)
        {

            <div class="nome-categoria col-md-12 col-sm-12" id="position-checkbox">
                <br />
                &bull;  @Html.DisplayFor(modelItem => cat.cat_Nome)
                <hr style="color: #000000;" />

            </div>



            foreach (var item in Model)
            {
                if (cat.cat_Id == item.cat_Id)
                {
                    <div class="container row text-left col-md-3 col-sm-6 col-xs-6" id="position-checkbox">
                        <div class="checkbox ">
                            <label style="text-transform: capitalize">
                                <input type="checkbox" value="" id="@item.serv_Id" name="@item.serv_Id">
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                @Html.DisplayFor(modelItem => item.serv_Nome)
                            </label>
                        </div>
                    </div>
                }

            }
        }
    }

    <input type="hidden" value="@cpfPrestador" id="cpfPrestador"/>
    <div class="container">
        <div class="row col-md-12 bottom col-sm-12 frm-contato">
            <input type="submit" value="Cadastrar" class="btn btn-group-lg" onclick="verificar()" />
        </div>
    </div>

