@model IEnumerable<GestaoDDD.Application.ViewModels.ServicoViewModel>

    @using GestaoDDD.Application.ViewModels;

    @{
        Layout = "~/Views/Shared/_Layout2.cshtml";

        var ListaCategoria = ViewBag.CategoriaModel as IEnumerable<CategoriaViewModel>;
        //Wagner Nogueira 02-02-16
        var cpf = ViewBag.Cpf as string;
        var nome = ViewBag.Nome as string;
        var email = ViewBag.Email as string;
        var celular = ViewBag.Celular as string;
    }


    <link href="~/Content/Servico/checkbox_servicos.css" rel="stylesheet" />

    <script src="~/Scripts/Adicionais/lerCheckbox.js"></script>
    <link href="~/Content/Servico/modal_accept.css" rel="stylesheet" />
    <script src="~/Scripts/Adicionais/modalServicoPrestador.js"></script>


    <div class="container" id="position-text">
        <div class="col-md-12" style="margin-top: 15px">
            <p>
                <h4>
                    SELECIONE OS TRABALHOS <br />
                    QUE SUA EMPRESA REALIZA:
                </h4>
            </p>
            <hr style="color: #000000; ">
        </div>
    </div>

    @using (Html.BeginForm())
    {
        foreach (var cat in ListaCategoria)
        {

            <div class="row nome-categoria col-md-12 col-sm-12 col-xs-12" id="position-checkbox">
                <br />
                &bull;  @Html.DisplayFor(modelItem => cat.cat_Nome)
                <hr style="color: #000000;" />
            </div>
            foreach (var item in Model)
            {
                if (cat.cat_Id == item.cat_Id)
                {
                    <div class="container row text-left col-md-3 col-sm-4 col-xs-6" id="position-checkbox">
                        <div class="checkbox ">
                            <label style="text-transform: capitalize">
                                <input type="checkbox" value="" id="@item.serv_Id" name="@item.serv_Id">
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                @Html.DisplayFor(modelItem => item.serv_Nome)
                            </label>
                        </div>
                    </div>
                }

            }
        }


        @*02-02-16 Wagner Nogueira*@
       
        <div class="form-group"><input type="submit" value="Cadastrar" class="btn btn-lg"/></div>
       

    }
                      <input type="hidden" value="@cpf" name="cpfPrestador" />
                      <input type="hidden" value="@nome" name="nome" />
                      <input type="hidden" value="@email" name="email" />
                      <input type="hidden" value="@celular" name="celular" />


    @*<div class="container">
            <div class="row col-md-12 bottom col-sm-12 col-xs-12">
                    <input type="submit" class="btn  btn-lg col-md-3 col-lg-12 col-xs-3 bottom frm-contato" onclick="verificar()" />
                @*<a href="#" class="btn btn-lg" role="button" data-toggle="modal" data-target="#login-modal">Cadastrar</a>

            </div>
        </div>*@
