@model GestaoDDD.Application.ViewModels.IndiqueProfissionalViewModel
@using GestaoDDD.Domain.Entities

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    var listaServico = ViewBag.ListaServico as IEnumerable<Servico>;
}

<link href="~/Content/IndiqueProfissional/indiqueprofissional.css" rel="stylesheet" />

<div class="container">

    <div class="row banner col-md-12">
        <div class="row banner-texto-esquerda col-md-6 pull-left">
            <h1>INDIQUE UM PROFISSIONAL</h1>
        </div>
    </div>
    <div class="row banner-baixo col-md-12 center-block">
        <div class="row texto-bannerbaixo col-md-12">
            Você é um profissional e <b>busca novos clientes?</b>
            <button type="button" class="btn">Cadastre-se</button>
        </div>
    </div>

    <div class="row texto-body col-md-12">
        <h3><b>Indique um Profissional ou Empresa</b></h3>
        <br />
        Você conhece um bom profissional e gostaria de indicá-lo?
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        @Html.ValidationSummary(true)

        <div class="formulario col-md-12">
            <form role="form">
                <fieldset>
                    <h4><b>DADOS DO PROFISSIONAL OU EMPRESA</b></h4>
                    <br />
                    <div class="form-group col-md-12">
                        <label for="nome">Nome do Profissional ou Empresa:</label>
                        <input type="text" class="form-control" id="Nome_Profissional" name="Nome_Profissional">
                        @Html.ValidationMessageFor(model => model.Nome_Profissional)
                    </div>

                    <div class="form-group col-md-4">
                        <label for="telefone">Telefone de contato:</label>
                        <input type="number" class="form-control" id="Telefone" name="Telefone">
                        @Html.ValidationMessageFor(model => model.Telefone)
                    </div>

                    <div class="form-group col-md-8">
                        <label for="email">E-mail:</label>
                        <input type="email" class="form-control" id="Email_Empresa" name="Email_Empresa">
                        @Html.ValidationMessageFor(model => model.Email_Empresa)
                    </div>

                    <div class="form-group col-md-4">
                        <label for="estado">Estado:</label>
                        <select class="form-control" id="estado" name="estado">
                            <option> </option>
                          
                        </select>
                    </div>

                    <div class="form-group col-md-8">
                        <label for="cidade">Cidade:</label>
                        <input type="text" class="form-control" id="Cidade" name="Cidade" />
                        @Html.ValidationMessageFor(model => model.Cidade)
                    </div>

                    <div class="form-group col-md-12">
                        <label for="servico">Especifique o serviço que este profissional ou empresa realiza:</label>
                        <select class="form-control" id="servico" name="servico" style="text-transform:capitalize">
                            <option> </option>
                            @foreach (var servico in listaServico.OrderByDescending(s => s.serv_Nome))
                            {
                                <option value="@servico.serv_Id">@servico.serv_Nome</option>
                            }
                        </select>
                    </div>
                </fieldset>

                <div>
                    <h4><b>SEUS DADOS</b></h4>
                </div>
                <br />
                <div class="form-group col-md-6">
                    <label for="nomepessoa">Seu nome:</label>
                    <input type="text" class="form-control" id="Nome" name="Nome">
                    @Html.ValidationMessageFor(model => model.Nome)
                </div>

                <div class="form-group col-md-6">
                    <label for="emailpessoa">Seu E-mail:</label>
                    <input type="email" class="form-control" id="Email_Solicitante" name="Email_Solicitante">
                    @Html.ValidationMessageFor(model => model.Email_Solicitante)
                </div>

                <div class="row botao-solicitar col-md-12">
                    <button type="submit" class="btn btn-solicitar">Recomendar este profissional ou empresa</button>
                </div>

            </form>

        </div>
    }
</div>
