@model GestaoDDD.Application.ViewModels.IndiqueProfissionalViewModel

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<link href="~/Content/IndiqueProfissional/indiqueprofissional.css" rel="stylesheet" />

<div class="container">

    <div class="row banner col-md-12">
        <div class="row banner-texto-esquerda col-md-6 pull-left">
            <h1>INDIQUE UM PROFISSIONAL</h1>
        </div>
    </div>
    <div class="row banner-baixo col-md-12 center-block">
        <div class="row texto-bannerbaixo col-md-12">
            Você é um profissional e <b>busca novos clientes?</b>
            <button type="button" class="btn">Cadastre-se</button>
        </div>
    </div>

    <div class="row texto-body col-md-12">
        <h3><b>Indique um Profissional ou Empresa</b></h3>
        <br />
        Você conhece um bom profissional e gostaria de indicá-lo?
    </div>

    <div class="formulario col-md-12">
        <form role="form">
            <fieldset>
                <h4><b>DADOS DO PROFISSIONAL OU EMPRESA</b></h4>
                <br />
                <div class="form-group col-md-12">
                    <label for="nome">Nome do Profissional ou Empresa:</label>
                    <input type="text" class="form-control" id="name">
                </div>

                <div class="form-group col-md-4">
                    <label for="telefone">Telefone de contato:</label>
                    <input type="number" class="form-control" id="telefone">
                </div>

                <div class="form-group col-md-8">
                    <label for="email">E-mail:</label>
                    <input type="email" class="form-control" id="email">
                </div>

                <div class="form-group col-md-4">
                    <label for="estado">Estado:</label>
                    <select class="form-control" id="estado" name="estado">
                        <option> </option>
                        <option>GO</option>
                        <option>SP</option>
                        <option>RS</option>
                        <option>RJ</option>
                    </select>
                </div>

                <div class="form-group col-md-8">
                    <label for="cidade">Cidade:</label>
                    <select class="form-control" id="cidade" name="cidade">
                        <option> </option>
                        <option>Anápolis</option>
                        <option>Goiânia</option>
                        <option>Uruaçu</option>
                        <option>Abadiânia</option>
                    </select>
                </div>

                <div class="form-group col-md-12">
                    <label for="servico">Especifique o serviço que este profissional ou empresa realiza:</label>
                    <select class="form-control" id="servico" name="servico">
                        <option> </option>
                        <option>Serviço 1</option>
                        <option>Serviço 2</option>
                        <option>Serviço 3</option>
                        <option>Serviço 4</option>
                    </select>
                </div>
            </fieldset>
            
            <div>
                <h4><b>SEUS DADOS</b></h4>
            </div>
            <br />
            <div class="form-group col-md-6">
                <label for="nomepessoa">Seu nome:</label>
                <input type="text" class="form-control" id="nomepessoa">
            </div>

            <div class="form-group col-md-6">
                <label for="emailpessoa">Seu E-mail:</label>
                <input type="email" class="form-control" id="emailpessoa">
            </div>

            <div class="row botao-solicitar col-md-12">
                <button type="submit" class="btn btn-solicitar">Recomendar este profissional ou empresa</button>
            </div>

        </form>

    </div>
</div>


    @*<h2>Create</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>IndiqueProfissionalViewModel</h4>
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Telefone, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Telefone)
                    @Html.ValidationMessageFor(model => model.Telefone)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email_Empresa, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email_Empresa)
                    @Html.ValidationMessageFor(model => model.Email_Empresa)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Cidade, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Cidade)
                    @Html.ValidationMessageFor(model => model.Cidade)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Nome, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nome)
                    @Html.ValidationMessageFor(model => model.Nome)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email_Solicitante, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email_Solicitante)
                    @Html.ValidationMessageFor(model => model.Email_Solicitante)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
