@model GestaoDDD.Infra.Identity.Model.IndexViewModel

<link href="~/Content/Conta/meuperfil.css" rel="stylesheet" />

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@Html.Partial("_PerfilPartial")

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Gerencie sua conta</h4>
    <dl class="msg dl-horizontal">
        <dt>Senha:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Trocar de Senha", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Definir senha para conta local", "SetPassword")
            }
            ]
        </dd>
        @*<dt>Redes sociais:</dt>
            <dd>
                Logins Sociais: @Model.Logins.Count
                @Html.ActionLink("[ Gerenciar ]", "ManageLogins")
            </dd>*@
        <dt>Dados cadastrais:</dt>
        <dd>
            @Html.ActionLink("[ Meu Perfil ]", "MeuPerfil", "Prestador", new { usuarioId = @Model.UsuarioId }, null)
        </dd>
        @*<dt>Alterar senha:</dt>
        <dd>
            @Html.ActionLink("[ Alterar Senha ]", "ChangePassword", "Manage", new { usuarioId = @Model.UsuarioId }, null)
        </dd>*@
        <dt>Orçamentos:</dt>
        <dd>
            @Html.ActionLink("[ Disponíveis ]", "BuscaTrabalhos", "Orcamento", new { usuarioId = @Model.UsuarioId }, null)
        </dd>
        <dd>
            @Html.ActionLink("[ Meus Orçamentos ]", "BuscaTrabalhosPagos", "Orcamento", new { usuarioId = @Model.UsuarioId }, null)
        </dd>
        @if(Model.Role == "Admin")
        {
        <dt>Área administrativa:</dt>
        <dd>
            @Html.ActionLink("[ Administrar ]", "Index", "Prestador", new { usuarioId = @Model.UsuarioId }, null)
        </dd>
        }


        @*<dt>Número de telefone:</dt>*@
        @*<dd>
                Número do Telefone: @(Model.PhoneNumber ?? "Nenhum") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Trocar", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Remover", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Adicionar", "AddPhoneNumber")
                }
                ]
            </dd>*@
        @*<dt>Two-Factor Authentication:</dt>*@
        @*<dd>

                @if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                    {
                        @Html.AntiForgeryToken()
                        <p>
                            Two Factor está habilitado:
                            <input type="submit" value="Desabilitar" class="btn btn-default"/>
                        </p>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                    {
                        @Html.AntiForgeryToken()
                        <p>
                            Two Factor está desabilitado:
                            <input type="submit" value="Habilitar" class="btn btn-default"/>
                        </p>
                    }
                }
            </dd>*@
        @*<dt>Two-Factor Authentication:</dt>
            <dd>

                @if (Model.BrowserRemembered)
                {
                    <form method="post" action="/Manage/ForgetBrowser">
                        <p>
                            O browser será lembrado para Two Factor:
                            <input type="submit" value="Esquecer Browser" class="btn btn-default" />
                        </p>
                    </form>
                }
                else
                {
                    <form method="post" action="/Manage/RememberBrowser">
                        <p>
                            O browser NÃO será lembrado para Two Factor:
                            <input type="submit" value="Lembrar Browser" class="btn btn-default" />
                        </p>
                    </form>
                }
            </dd>*@
    </dl>
</div>
