@model GestaoDDD.Application.ViewModels.UsuarioViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UsuarioViewModel</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.usu_endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usu_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.usu_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
